:root {
  background-color: var(--clr-primary-white);

  /* Ferris Primary Colors*/
  --clr-primary-black: hsl(37, 100%, 6%);
  --clr-primary-white: hsl(0, 0%, 96%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-lightgray: hsl(40, 5%, 89%);
  --clr-neutral-gray: hsl(0, 0%, 75%);
  --clr-neutral-darkgray: hsla(0, 63%, 28%, 0.554);
  --clr-accent-red: hsl(0, 80%, 40%);
  --clr-accent-blue: hsl(217, 48%, 39%);

  --ff-primary: "Work Sans", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-650: 1.25rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var (--fs-900);
  --fs-button: var(--fs-500);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-third-heading: var(--fs-650);
    --fs-text-prominent: var(--fs-600);

    --fs-nav: var(--fs-500);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.images {
  max-height: 75%;
  margin-left: auto;
  padding: 2pt 2pt;
  box-shadow: 10px 10px 5px var(--clr-neutral-gray);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-black);
}

p:not([class]) {
  font-size: var(--fs-600);
  color: var(--clr-primary-white);
}

.lead {
  max-width: 40ch;
  font-size: var(--fs-650);
  color: var(--clr-primary-white);
}

p[data-width="wide"] {
  max-width: 42ch;
}

/* ------ */
/* button */
.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-regular);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-primary-white);
  background-color: var(--clr-accent-red);
  border: 2px solid var(--clr-primary-white);
}

.button[data-type="inverted"] {
  background-color: var(--clr-primary-black);
  border: 2px solid var(--clr-primary-white);
  color: var(--clr-primary-white);
  padding: 0.5em 2em;
  margin-left: 40pt;
  text-align: center;
}

.button[data-shadow="none"] {
  box-shadow: none;
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-neutral-gray);
  color: var(--clr-primary-black);
  border: 2px solid var(--clr-primary-black);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-neutral-gray);
  color: var(--clr-primary-black);
  border: 2px solid var(--clr-primary-white);
}

/* ------ */

/* NAVIGATION */
.primary-header {
  padding-top: var(--size-300);
  padding-bottom: var(--size-300);
  background-color: var(--clr-primary-black);
  position: sticky;
  top: 0;
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: var(--size-400);
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-600);
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-regular);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-white);
  white-space: nowrap; /* Prevent menu items from wrapping */
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-neutral-gray);
  padding-block: 10pt;
  text-decoration: underline;
  text-decoration-color: var(--clr-neutral-gray);
  text-decoration-thickness: 5pt;
}

@media (max-width: 50em) {
  .primary-navigation {
    display: none;
    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 25rem;
    margin-left: auto;
    background: var(--clr-primary-light);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
  }

  .nav-list {
    display: grid;
    gap: var(--size-700);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-600);
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}

/* FOOTER */
footer {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  padding: 5rem 20rem;
  background: var(--clr-primary-black);
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

footer .container {
  width: 100%;
  max-width: 1200px; /* Set a maximum width if needed */
  margin: 0 auto; /* Center the container */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

footer .container .sec {
  text-align: left; /* Adjust text alignment within each column */
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

footer .container .sec h2 {
  position: relative;
  background: var(--clr-primary-black);
  color: var(--clr-primary-white);
  font-weight: var(--fw-bold);
  margin-bottom: 20pt;
}

footer .container .sec h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 1;
  width: 40px;
  height: 2px;
  background-color: var(--clr-neutral-lightgray);
}

footer .container li {
  position: relative;
  list-style: none;
  font-size: var(--fs-400);
}

footer .container li a {
  color: var(--clr-primary-white);
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
  white-space: nowrap; /* Prevent footer menu items from wrapping */
}

footer .container li a:hover {
  color: var(--clr-neutral-lightgray);
  text-decoration: underline;
}

.footer-icons {
  margin-block: 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15pt;
}

.footer-icon img {
  width: 15pt;
  height: auto;
  fill: var(--clr-neutral-lightgray);
}

.footer-text {
  color: var(--clr-primary-white);
  text-align: center;
  margin-inline: auto;
}

@media (max-width: 50em) {
  /* Adjust the layout for smaller screens */
  footer .container {
    grid-template-columns: 1fr; /* Stack columns on smaller screens */
  }
}

/* social list */

.social-list {
  display: flex;
  gap: var(--size-600);
}

.social-icon {
  width: var(--size-600);
  aspect-ratio: 1;
  fill: var(--clr-neutral-100);
}

.social-list a:is(:hover, :focus) .social-icon {
  fill: var(--clr-accent-400);
}

/* cta */
.cta {
  position: relative;
  isolation: isolate;
  text-align: center;
}

.cta p {
  margin-left: 3rem;
}

@media (min-width: 50em) {
  .cta {
    text-align: left;
  }
}

.cta::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 1;
  background-image: url("images/bg-tablet-pattern.svg"),
    url("images/bg-tablet-pattern.svg");
  background-position: -15rem -5rem, 80rem -42rem;
  background-repeat: no-repeat;
  opacity: 0.9;
}

/* numbered items */
.numbered-items {
  counter-reset: count;
  width: fit-content;
}

.numbered-items li {
  counter-increment: count;
}

.numbered-items div {
  display: grid;
  position: relative;
  align-items: center;
  column-gap: var(--size-700);
  grid-template-columns: min-content 1fr;
}

.numbered-items__title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  line-height: 1;
  font-size: 1.1rem;
}

.numbered-items__body {
  grid-column: 1 / -1;
}

@media (min-width: 30em) {
  .numbered-items__body {
    grid-column: 2 / -1;
  }
}

.numbered-items div::before,
.numbered-items div::after {
  height: 40px;
}

.numbered-items div::before {
  content: "0" counter(count);
  display: flex;
  align-items: center;
  color: var(--clr-primary-white);
  font-weight: var(--fw-bold);
  background-color: var(--clr-primary-black);
  padding: 0 var(--size-500);
  border-radius: 100vw;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

@media (max-width: 30em) {
  .numbered-items div::after {
    --bg: var(--clr-accent-100);
    content: "";
    display: block;
    z-index: -1;
    border-radius: 100vw 0 0 100vw;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    box-shadow: 5em 0 0 var(--bg);
    background: var(--bg);
  }
}

/* slider */

.slider {
  display: flex;
  gap: var(--size-600);
  list-style: none;
}

.a11y-slider-container {
  margin-block: var(--size-700);
  margin-inline: var(--size-400);
}

.slider > * {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 30em) {
  .slider {
    scroll-padding-inline: 25px;
  }

  .a11y-slider-container {
    margin-inline: 0;
  }

  .slider > * {
    width: 50%;
  }
}

@media (min-width: 50em) {
  .slider > * {
    width: 35%;
  }
}

.slider-content {
  border-radius: var(--size-100);
  padding: var(--size-700) var(--size-600) var(--size-600);
  background: var(--clr-neutral-200);
}

.slider img {
  width: var(--size-800);
  position: relative;
  top: calc(var(--size-800) / 2);
  margin-inline: auto;
}

.a11y-slider-dots {
  display: flex;
  justify-content: center;
  margin-block: var(--size-500);
  gap: var(--size-300);
}

.a11y-slider-dots li {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
}

.a11y-slider-dots li button {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  background: transparent;
  border: 1px solid var(--clr-accent-400) !important;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.a11y-slider-dots li button.active {
  background: var(--clr-accent-400);
}

/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.container {
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
  vertical-align: middle;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (min-width: 50em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

.text-center {
  text-align: center;
}

.text-center p {
  margin-inline: auto;
}

@media (max-width: 50em) {
  .text-center-sm-only {
    text-align: center;
  }

  .text-center-sm-only p {
    margin-inline: auto;
  }
}

.text-primary-400 {
  color: var(--clr-primary-light);
}

.text-accent-400 {
  color: var(--clr-accent-red);
}

.text-accent-100 {
  color: var(--clr-accent-blue);
}

.text-neutral-100 {
  color: var(--clr-neutral-white);
}

.text-neutral-900 {
  color: var(--clr-neutral-gray);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-400 {
  background-color: var(--clr-primary-black);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
  color: var(--clr-primary-white);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-third-heading {
  font-size: var(--fs-third-heading);
  line-height: 1.1;
  color: var(--clr-accent-red);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.margin-bottom-700 {
  margin-block-end: var(--size-700);
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}

/* HERO + BACKGROUND Images Section */
.hero {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(95, 94, 94, 0.7)
    ),
    url("/images/fl-code-background.png");
  background-color: var(--clr-neutral-gray);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  padding-block: 20pt 20pt;
  height: auto;
  z-index: -1;
}

.hero::before {
  content: "";
  position: absolute;
  opacity: 0.9;
  inset: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  );
  z-index: -1;
  pointer-events: none;
}

.hero-image {
  max-height: 80%;
  max-width: 80%;
  border-radius: 2%;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

/* HORIZONTAL rule */
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: red;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;

  &:before {
    content: "";
    background: linear-gradient(
      to right,
      transparent,
      var(--clr-neutral-gray),
      transparent
    );
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
  }

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: red;

    padding: 0 0.5em;
    line-height: 1.5em;
    /* this is really the only tricky part, you need to specify the background color of the container element... */
    color: var(--clr-accent-red);
    background-color: var(--clr-primary-white);
  }
}

/* THREE COLUMN Section */
.three-columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  padding: 20px;
  justify-content: center; /* Center the columns horizontally */
}

.column-border,
.column-noborder {
  text-align: center; /* Center-align the text */
}

.column-border {
  border: 2px solid var(--clr-primary-black);
  border-radius: 25px;
  padding: 30px;
}

.column-noborder {
  padding: 20px;
}

.column-border h3,
.column-border img,
.column-noborder h3,
.column-noborder img {
  margin: 0 auto 1rem;
  /* Center align horizontally and add space below each element */
}

@media (max-width: 50em) {
  /* Adjust the layout for small screens */
  .three-columns {
    grid-template-columns: 1fr; /* Vertical stacking on small screens */
  }
}

/* TEXT WITH PARTIAL UNDERLINE */
.text-with-partial-underline {
  position: relative;
  display: inline-block;
}

.text-with-partial-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-bottom: 20px solid rgba(81, 80, 80, 0.5);
  /* Adjust the RGB values and alpha (0.5 for 50% transparency) */
  box-sizing: border-box;
  display: flex;
}

/* CUSTOMER QUOTE */
.quote {
  font-size: var(--fs-650);
  padding: 0 5rem 0 8rem;
}

/* SLIDING LOGOS BANNER */
@keyframes slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 3rem 0;
  position: relative;
  display: flex;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: flex;
  /* Updated to flex instead of inline-block */
  animation: slide 20s linear infinite;
  animation-delay: 1s;
}

.logos-slide img {
  height: 30px;
  object-fit: cover;
  margin: 0 20px;
}
